<%= stylesheet_link_tag 'stylesheet' %>
<h1>Add a new course</h1>
<%= form_tag :action => 'create' %>
<%= render :partial => 'entryform' %>

<%= form_tag %>
<%= link_to 'Back', {:action => 'list'} %>


	