#errorExplanation h2 {
	width: 490px;
	padding-top: 12px;
	font-weight: bold;
	text-align: center;
	border-bottom-color: black;
	border-left-style: none;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	border-bottom-width: 2px;
	height: 2em;
	margin-top: 0px;
	background-color: #ff9588;
	color: black;
	font-size: 17px;
	font-family: helvetica;
}

#errorExplanation {
	margin-right: auto;
	margin-left: auto;
	width: 490px;
	color: black;
	font-size: 12px;
	font-family: helvetica;
	display: block;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: #f6f5ff;

}

#errorExplanation ul li {
	font-family: helvetica;
	font-style: italic;
}

#course_entry {
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	font-family: helvetica;
	border-width: 2px;
	width: 490px;
}

#course_entry p label {
	list-style-position: outside;
	word-break: normal;
	font-style: italic;
	font-size: 12px;
	font-family: helvetica;
}

#course_entry p label input {
	font-size: 25px;
	font-family: helvetica;
}

.fieldWithErrors input {
	text-align: left;
	display: inline;
	border-color: #ff000c;
	border-style: inset;
	border-width: 2px;
}

.fieldWithErrors {
	display: inline;
}

#course_entry input {
	text-align: left;
}
#user_nav {
	width: 100px;
	margin-right: -15px;
	padding-left: 4px;
	font-weight: bold;
	float: right;
	border: solid;
	font-size: 12px;
	display: block;
	border-color: #5d5d5b;
	-webkit-border-top-left-radius: 10px 10px;
	-webkit-border-bottom-left-radius: 10px 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft:10px;
}
#site {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
#container {
	z-index: 1;
	margin-top: 20px;
	width: 500px;
	height: auto;
	display: block;
	float: none;
	border-color: #5d5d5b;
	border-style: solid;
	padding-left: 12px;
	background-color: #9bbb50;
	margin-right: auto;
	margin-left: auto;
	padding-right: 12px;
	-webkit-border-top-left-radius: 10px 10px;
	-webkit-border-top-right-radius: 10px 10px;
	-webkit-border-bottom-left-radius: 10px 10px;
	-webkit-border-bottom-right-radius: 10px 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright:10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
}
#container #left_nav {
	float: left;
	display: ;
	border-style: solid;
	border-color: #5d5d5b;
	background-color: #9bbb50;
	width: 100px;
	-webkit-border-top-left-radius: 10px 10px;
	-webkit-border-bottom-left-radius: 10px 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft:10px;
	clear: none;
	margin-top: 300;
	margin-left: -118;
}
#user_nav a:hover {
	color: #69ab32;
	text-decoration: underline;
	font-family: helvetica;
}
#user_nav a {
	color: black;
	text-decoration: none;
	font-family: helvetica;
}
#flash {
	padding-top: 3px;
	border-color: #64ab42;
	border-style: solid;
	border-width: 2px;
	background-color: #81dd55;
	margin-right: auto;
	width: 440px;
}
#logoheader {
	border-bottom-color: #5d5d5b;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	display: inline;
	height: 100px;
	width: 500px;
	page-break-after: always;
	
}
#logoheader img {
	border-style: none;
	border-bottom-color: #5d5d5b;
	border-bottom-width: 2px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: static;
	height: 200px;
	width: 500px;
	page-break-after: always;
}
.container .headertop {
	z-index: 3;
	background-repeat: no-repeat;
	background: transparent 0px 0px;
	background-image: url(images/headertop.png);
	float: left;
	
}
#container #login_form {
	margin-left: auto;
	margin-right: auto;
}
#container #login_form  form p input.text_field {
	font-family: helvetica;
	font-size: 28px;
	width: 480px;
}
#container #login_form  form p input.text_field:focus {
	font-family: helvetica;
	font-size: 28px;
	width: 480px;
	background-color: #fffbd6;
}
#container #login_form form  p label {
	font-family: helvetica;
	font-size: 18px;
	display: inline-block;
	margin-bottom: 2px;
}
#container #login_form  form p input.submit {
	width: 300px;
	height: 90px;
	background-color: transparent;
	background-image: url(images/login-normal.png);
	border: none;
}
#input[type="submit"] {
	-webkit-box-align: center;
}
#container #registration_form p input.text_field {
	font-family: helvetica;
	font-size: 28px;
	width 480px;
}
#container #registration_form p label {
	font-family: helvetica;
	font-size: 18px;
	display: inline-block;
	margin-bottom: 2px;
}
#container #registration_form  p input.text_field:focus {
	background-color: #fffbd6;
}
#login {
	width: 490px;
	height: 100px;
	position:  relative;
	border-color: #5d5d5b;
	border-style: solid;
	margin-top: -30px;
	padding-top: 10px;
	padding-left: 12px;
	background-color: #9bbb50;
	margin-right: auto;
	margin-left: auto;
	z-index:  -1;
	-webkit-border-bottom-left-radius: 10px 10px;
	-webkit-border-bottom-right-radius: 10px 10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;	
}


