<script type="text/javascript" src="http://www.jquery.com/src/jquery-latest.js"></script>
<%= stylesheet_link_tag 'stylesheet' %>
<div id="container">
	<div id="user_nav">
		<% if current_user%>
			<%= link_to "Logout", logout_path %>
		<% else %>
			<%= link_to "Register", {:controller => 'user', :action => 'new'}%> |
			<%= link_to "Login", login_path %>
		<% end %>
	</div>
	<%= yield %>	
</div>
